extends layout

block meta
  if result.event.end_date
    - var event_date = moment(result.event.start_date).twix(result.event.end_date, {allDay: true}).format({monthFormat: 'MMMM', implicitYear: false})
  else
    - var event_date = moment(result.event.start_date).format('MMMM D, YYYY')
  
  - var event_address = result.venue.name + "\n" + result.venue.address + "\n" + result.venue.locality + ", " + result.venue.region
  
  <!-- facebook open graph tags --> 
  <meta property="og:type" content="website" /> 
  <meta property="og:url" content="https://upcoming.org/event/#{slug(result.event.title)}-#{result.event.event_id}" /> 
  <meta property="og:title" content="#{result.event.title} at #{result.venue.name}" /> 
  <meta property="og:description" content="#{truncate(result.event.description, 160)}" /> 
  <meta property="og:image" content="https://upcoming.org/images/apple-touch-icon-120x120.png" /> 
  
  <!-- twitter card tags additive with the og: tags -->
  <meta name="twitter:domain" value="upcoming.org" /> 
  <meta name="twitter:title" value="#{result.event.title}" /> 
  <meta name="twitter:description" value="#{truncate(result.event.description, 160)}" /> 
  <meta name="twitter:image" content="https://upcoming.org/images/apple-touch-icon-120x120.png" /> 
  <meta name="twitter:url" value="https://upcoming.org/event/#{slug(result.event.title)}-#{result.event.event_id}" /> 
  <meta name="twitter:label1" value="Date/Time" /> 
  <meta name="twitter:data1" value="#{event_date}" /> 
  <meta name="twitter:label2" value="Location" /> 
  <meta name="twitter:data2" value="#{event_address}" /> 

block includes
  script(src='/js/watchlists.js')
  

block content
  .col-xs-12.col-sm-8.col-md-8  
    h2= result.event.title
      if user
        if (result.event.creator_user_id == user.id) || (user.id == 1)
          small
            a(href="/event/#{slug(result.event.title)}-#{result.event.event_id}/edit")
              | ðŸ“ Edit

    if result.event.end_date
      h4= moment(result.event.start_date).twix(result.event.end_date, {allDay: true}).format({monthFormat: 'MMMM', implicitYear: false})
    else
      h4= moment(result.event.start_date).format('MMMM D, YYYY')

    if result.venue
      .venue
        .venue-name
          a(href="/venue/#{slug(result.venue.name)}-#{result.venue.venue_id}") #{result.venue.name}
        .venue-address
          if result.venue.address
            span.address= result.venue.address
            br
          span.locality
            if result.locality.name
              a(href="/place/#{slug(result.locality.name)}-#{slug(result.locality.id)}")
                if result.country.name == 'United States'
                  | #{result.locality.name}, #{result.region.name}
                else
                  | #{result.locality.name}, #{result.country.name}
            else
              | #{result.venue.locality}, #{result.venue.region}
  
    div
      .list-recommend
        img.img-rounded(alt='', src="#{result.user.avatar_image_url}", style='float: left; margin-right: 10px; width: 48px; height: 48px;')
        h4
          a(href="/@" + result.user.username) #{result.user.name}
          small
            |  @#{result.user.username}
      .recommend-quote!= marked(result.event.description)
        
        if result.event.website
          p
            if (!/^(f|ht)tps?:\/\//i.test(result.event.website))
              a(href="http://#{result.event.website}") #{result.event.website}
            else
              a(href="#{result.event.website}") #{result.event.website}
        
      if user
        .recommend-action                  
          form.watchlist(action="/watchlist", method="post")
            div.form-group
              input.event_id(type="hidden", name="event_id", value="#{result.event.event_id}")
              div.btn-group(data-toggle="buttons", role="group")
                if result.watchlist.status == 'attend'
                  label.btn.btn-default.active
                    input.status(type="checkbox", name="status", value="attend", checked)
                    | ðŸ‘ I'm Going
                else
                  label.btn.btn-default
                    input.status(type="checkbox", name="status", value="attend")
                    | ðŸ‘ I'm Going
  
                if result.watchlist.status == 'watch'
                  label.btn.btn-default.active
                    input.status(type="checkbox", name="status", value="watch", checked)
                    | ðŸŒŸ Recommend
                else
                  label.btn.btn-default
                    input.status(type="checkbox", name="status", value="watch")
                    | ðŸŒŸ Recommend

  if watchlists
    .col-xs-12.col-sm-4.col-md-4
      if watchlists['attend']
        h4 Attending            
        - each watchlist in watchlists['attend']
          .watchlist
            a(href="/@" + watchlist.username) #{watchlist.name}
            | 
            small @#{watchlist.username}
  
      if watchlists['watch']
        h4 Recommend        
        - each watchlist in watchlists['watch']
          .watchlist
            a(href="/@" + watchlist.username) #{watchlist.name}
            | 
            small @#{watchlist.username}
  
  .col-xs-12.col-sm-8.col-md-8
    if comments.length > 0
      h3 Comments
    else
      if user
        h3 Add a comment
    
    - each comment in comments
      img(alt='', src="#{comment.avatar_image_url}", style='float: left; margin-right: 10px; width: 48px; height: 48px;')
      .comment(style='margin-left: 60px')
        h4
          a(href="/@" + comment.username) #{comment.name}
          | 
          small @#{comment.username}
        
          p= comment.created_at
        p!= marked(comment.comment_text)

    if user
      form(name="comment", action="/comment", method="post")
        div.form-group
          textarea.form-control(name="comment_text", cols="40", rows="5")
          input(type="hidden", name="event_id", value="#{result.event.event_id}")
          button.btn.btn-default(type="submit") Add Comment

