extends layout

block includes
  script(src='/js/watchlists.js')

block content
  .col-xs-12.col-sm-10.col-md-8  
    h1= result.event.title
      if result.event.creator_user_id == user.id
        small
          a(href="/event/#{slug(result.event.title)}-#{result.event.event_id}/edit")
            | ðŸ“ Edit

    if result.event.end_date
      h3= moment(result.event.start_date).twix(result.event.end_date, {allDay: true}).format({monthFormat: 'MMMM', implicitYear: false})
    else
      h3= moment(result.event.start_date).format('MMMM D, YYYY')

    if result.venue
      .venue
        .venue-name
          a(href="/venue/#{slug(result.venue.name)}-#{result.venue.venue_id}") #{result.venue.name}
        .venue-address
          if result.venue.address
            span.address= result.venue.address
            br
          span.locality= result.venue.locality + ', '
          span.region= result.venue.region
  
    div
      .list-recommend
        img.img-rounded(alt='', src="//avatars.io/twitter/#{result.user.username}/medium", style='float: left; margin-right: 10px; width: 48px; height: 48px;')
        h4
          a(href="/@" + result.user.username) #{result.user.name}
          small
            |  @#{result.user.username}
      .recommend-quote
        p= result.event.description
        
        if result.event.website
          p
            a(href="#{result.event.website}") #{result.event.website}
        
      if user
        .recommend-action                  
          form.watchlist(action="/watchlist", method="post")
            div.form-group
              input.event_id(type="hidden", name="event_id", value="#{result.event.event_id}")
              div.btn-group(data-toggle="buttons", role="group")
                if result.watchlist.status == 'attend'
                  label.btn.btn-default.active
                    input.status(type="checkbox", name="status", value="attend", checked)
                    | ðŸ‘ I'm Going
                else
                  label.btn.btn-default
                    input.status(type="checkbox", name="status", value="attend")
                    | ðŸ‘ I'm Going
  
                if result.watchlist.status == 'watch'
                  label.btn.btn-default.active
                    input.status(type="checkbox", name="status", value="watch", checked)
                    | ðŸŒŸ Recommend
                else
                  label.btn.btn-default
                    input.status(type="checkbox", name="status", value="watch")
                    | ðŸŒŸ Recommend

      if watchlists.length > 0
        h3 Attending
      
      - each watchlist in watchlists
        .watchlist
          a(href="/@" + watchlist.username) #{watchlist.name}
          | 
          small @#{watchlist.username}

      if comments.length > 0
        h3 Comments
      else
        h3 Add a comment
      
      - each comment in comments
        img(alt='', src="//avatars.io/twitter/#{comment.username}/medium", style='float: left; margin-right: 10px; width: 48px; height: 48px;')
        .comment(style='margin-left: 60px')
          h4
            a(href="/@" + comment.username) #{comment.name}
            | 
            small @#{comment.username}
          
            p= comment.created_at
          p= comment.comment_text
            br
  
      form(name="comment", action="/comment", method="post")
        div.form-group
          textarea.form-control(name="comment_text", cols="40", rows="5")
          input(type="hidden", name="event_id", value="#{result.event.event_id}")
          button.btn.btn-default(type="submit") Add Comment
