doctype html
html(lang="en")
  head
    title= title
      |  - Upcoming
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    block meta
      <!-- facebook open graph tags --> 
      <meta property="og:type" content="website" /> 
      <meta property="og:url" content="https://upcoming.org/" /> 
      <meta property="og:title" content="Upcoming.org" /> 
      <meta property="og:description" content="The original collaborative event community." /> 
      <meta property="og:image" content="https://upcoming.org/images/favicon-96x96.png" /> 
      
      <!-- twitter card tags additive with the og: tags -->
      <meta name="twitter:domain" value="upcoming.org" /> 
      <meta name="twitter:title" value="Upcoming.org" /> 
      <meta name="twitter:description" value="The original collaborative event community." /> 
      <meta name="twitter:image" content="https://upcoming.org/images/apple-touch-icon-114x114.png" /> 
      <meta name="twitter:url" value="https://upcoming.org/" /> 

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/style.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='/js/global.js')

    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')

    script(src='//use.typekit.net/tqk1fsd.js')
    script.
      try{Typekit.load({ async: true });}catch(e){}

    block includes
    
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
    
    link(rel='apple-touch-icon', sizes='57x57', href='/images/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/images/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/images/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/images/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/images/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/images/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/images/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/images/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/images/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/images/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/images/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/images/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/images/manifest.json')
    link(rel='shortcut icon', href='/images/favicon.ico')
    meta(name='msapplication-TileColor', content='#b91d47')
    meta(name='msapplication-TileImage', content='/images/mstile-144x144.png')
    meta(name='msapplication-config', content='/images/browserconfig.xml')
    meta(name='theme-color', content='#ffffff')
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
        ga('create', 'UA-866594-7', 'auto');
        ga('send', 'pageview');
  
  body
    header
      block header
      
      nav.navbar.navbar-default.navbar-static-top(role='navigation')
        .container-fluid
          .navbar-header.pull-left
            a.navbar-brand(href='/')
              img(alt='Upcoming', src='/images/logo.png')
            ul.nav.navbar-nav.hidden-xs
              li
                a.navbar-link(href='/') Explore
              li
                a.navbar-link(href='/place') Places
          .navbar-header.pull-right
            ul.nav.navbar-nav.navbar-right
              li
                a.navbar-link(href='/event/add')
                  span.glyphicon.glyphicon-plus(aria-hidden="true")
                  |  Add
              if user
                li
                  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', style='padding: 10px 20px 10px 20px')
                    if user.avatar_image_url
                      img.img-rounded(alt='', src="#{user.avatar_image_url}", width='30', height='30')
                    else
                      img.img-rounded(alt='', src="#{user.profile_image_url}", width='30', height='30')
                    span.caret
                  ul.dropdown-menu(role='menu')
                    li(role='presentation')
                      #{user.name}
                    li(role='presentation')
                      a(href="/@#{user.username}", role='menuitem') Your Profile
                    li(role='presentation')
                      a(href="/following", role='menuitem') Following
                    li(role='presentation')
                      a(href='/logout', role='menuitem') Logout
              else
                li
                  a.navbar-link(href='/login')
                    img(src='/images/twitter_logo.png', height="18px")
                    |  Sign In


  #container.container-fluid
    block content

  footer.footer
    block footer
    ul
      li
        a(href="/about") 🤔 About
      li
        a(href="/terms") ⚖️ Terms
      li
        a(href="/privacy") 🕵️ Privacy
      li
        a(href="https://twitter.com/upcomingorg") 🐦 Twitter