extends layout

block content
  #main
    .page-header
      h1 Popular Places
          
  .col-xs-12.col-sm-6
    .panel-body.list-group
      each place in places
        li.list-group-item
          a(href='/place/' + slug(place.locality.name) + '-' + slug(place.locality.id))
            if place.country.name == 'United States'
              | #{place.locality.name}, #{place.region.name}
            else
              | #{place.locality.name}, #{place.country.name}
          | 
          small= place[''].event_count
             
  .col-xs-12.col-sm-6