extends layout

block content
  #main
    .page-header
      h1 Popular Places
          
  .col-xs-12.col-sm-6
    .panel-body.list-group
      - each place in places
        li.list-group-item
          a(href="/places/#{slug(place.venue.locality)}-#{slug(place.venue.region)}")
            | #{place.venue.locality}, #{place.venue.region}          
          small= place[''].event_count
             
  .col-xs-12.col-sm-6