extends layout

block content
  .h-card.col-xs-12.col-sm-10.col-md-8.col-lg-6
    .page-header
      h1.p-name= venue.name
  
    .venue
      .venue-address
        if venue.address
          span.address.p-street-address= venue.address
          br
          span.locality.p-locality= venue.locality + ', '
          span.region.p-region= venue.region + ' '
          span.postal_code.p-postal-code= venue.postal_code
        else
          span No address available
      
      a.hidden.u-url.u-uid(href="")
      a.u-url(href="//foursquare.com/v/" + venue.foursquare_id) View on Foursquare
  
    if events.length > 0
      - each event in events
        .event.h-event
          small
            time.dt-start(datetime=moment(event.start_date).format('YYYY-MM-DD'))= moment(event.start_date).format('MMMM D, YYYY')
          h4
            a.p-name.u-url(href="/event/#{slug(event.title)}-#{event.event_id}") #{event.title}
